div.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    > div.page-content {
        flex: 1;
        display: grid;
        grid-template-rows: auto;
        grid-gap: 60px;
        grid-auto-columns: max-content auto;

        > div.sidebar {
            grid-column: 1 / 1;
            padding: 25px 0;

            > div {
                &:not(:first-child) {
                    margin-top: 20px;
                }
            }
        }

        > div.calendar-content {
            grid-column: 2 / 2;

            > div {
                height: 100%;
                width: 100%;
                border-radius: 5px;
                background-color: #fff;
                padding: 25px;
            }
        }
    }
}

div.sidebar {
    div.event-filter {
        div.filter-content {
            display: flex;
            flex-direction: column;

            > div {
                nb-checkbox::ng-deep .text {
                    font-size: 20px;
                    font-weight: 400;
                }

                &:not(:first-child) {
                    margin-top: 15px;
                }
            }
        }
    }
}

div.custom-calendar-header {
    > div.uk-grid {
        > div.uk-width-1-3 {
            div.calendar-title {
                min-width: 230px;
                padding: 0 20px;
                display: flex;

                label {
                    font-size: 19px;
                    margin: auto;
                    font-weight: 500;
                }
            }

            &:last-child {
                display: flex;
                justify-content: end;

                button[nbButton] {
                    margin-right: 20px;
                }

                > nb-button-group {
                }
            }
        }
    }
}

// fullcalendar

full-calendar::ng-deep .fc-timegrid .fc-scrollgrid.fc-scrollgrid-liquid {
    border: none;
}
full-calendar::ng-deep .fc-timegrid-axis {
    border: none;
}

full-calendar::ng-deep .fc-timegrid .fc-scrollgrid-section-header th {
    border: none;
}

full-calendar::ng-deep .fc-timegrid-slot-label {
    padding: 0 10px;
    border: none;
    position: relative;
    vertical-align: unset !important;
}

full-calendar::ng-deep .fc-timegrid-slot-label-frame {
    transform: translateY(-50%);
}

full-calendar::ng-deep .fc-timegrid-slot-label-frame > div {
    font-size: 17px;
    font-weight: 500;
}

full-calendar::ng-deep th.fc-col-header-cell {
    padding: 10px 0 !important;
    border: none;
    border-bottom: 1px solid #ddd !important;
}

full-calendar::ng-deep .fc-day-today {
    background-color: inherit !important;
}

full-calendar::ng-deep .fc-col-header-cell-cushion {
    white-space: pre !important;
    text-decoration: none !important;
}

full-calendar::ng-deep .fc-timegrid .fc-col-header-cell-cushion {
    color: #e0e0e0;
}

full-calendar::ng-deep .fc-timegrid .fc-day-today .fc-col-header-cell-cushion {
    color: #7d7fde !important;
}

full-calendar::ng-deep .fc-col-header-cell-cushion span span.date {
    font-size: 28px !important;
}

full-calendar::ng-deep
    .fc-daygrid-body
    .fc-day.fc-day-today
    .fc-daygrid-day-number {
    background: #7d7fde;
    color: white;
}
full-calendar::ng-deep .fc-daygrid-day-number {
    text-decoration: none !important;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 500;
}

full-calendar::ng-deep .fc-timegrid-slots table tr:first-child td:first-child {
    opacity: 0;
}

full-calendar::ng-deep .fc-daygrid-day > div {
    flex-direction: unset !important;
}

full-calendar::ng-deep .fc-timegrid-col .fc-timegrid-col-frame {
    position: unset;
}

full-calendar::ng-deep
    .fc-timegrid-col
    .fc-timegrid-col-frame
    > div:not(.fc-timegrid-now-indicator-container) {
    position: relative;
}

nb-calendar-range::ng-deep nb-calendar-picker .day-cell.size-large {
    width: 3.02rem !important;
}

nb-calendar-range::ng-deep nb-calendar-picker .day-cell.size-large.start > div {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

nb-calendar-range::ng-deep nb-calendar-picker .day-cell.size-large.end > div {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
