@use "../../variables";

nb-layout {
    nb-sidebar {
        background-color: rgba(217, 187, 160, 0.1);

        div.content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            div {
                &.top {
                    div.user {
                        display: flex;

                        > div.image {
                            > div.uk-cover-container {
                                width: 54px;
                                height: 54px;
                                border-radius: 17.5px;
                            }
                            margin-right: 17.5px;
                        }

                        > div.text {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;

                            > span {
                                &.name {
                                    font-size: 20px;
                                    font-weight: 600;
                                    color: variables.$healthpad-color-text;
                                }

                                &.role {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }

                &.middle {
                    > ul {
                        li {
                            &:not(:first-child) {
                                margin-top: 7.5px;
                            }
                            a {
                                font-size: 22px;
                                font-weight: 500;

                                &.uk-active {
                                    color: #6c70d8;

                                    svg {
                                    }
                                }

                                svg {
                                    height: 26px;
                                    margin-right: 7.5px;
                                }
                            }
                        }
                    }
                }

                &.bottom {
                    display: flex;
                    img {
                        margin: auto;
                        width: 70%;
                    }
                }
            }
        }
    }

    nb-layout-column {
        padding: 60px !important;
    }
}
