<nb-layout>
    <nb-sidebar>
        <div class="content">
            <div class="top">
                <div class="user">
                    <div class="image">
                        <div class="uk-cover-container">
                            <img
                                src="../../assets/images/placeholder/avatar.jpg"
                                uk-cover
                            />
                        </div>
                    </div>

                    <div class="text">
                        <span class="name">
                            {{ state.user?.firstName }}
                            {{ state.user?.lastName }}
                        </span>
                        <span class="actions" (click)="handleSignOut()">
                            Abmelden
                        </span>
                    </div>
                </div>
            </div>

            <div class="middle">
                <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                    <li>
                        <a
                            [routerLink]="'dashboard'"
                            routerLinkActive="uk-active"
                        >
                            <nb-icon icon="home-outline"></nb-icon>
                            Dashboard</a
                        >
                    </li>
                    <li>
                        <a [routerLink]="'clients'" routerLinkActive="uk-active"
                            ><nb-icon icon="people-outline"></nb-icon>
                            Klienten</a
                        >
                    </li>
                    <li>
                        <a
                            [routerLink]="'calendar'"
                            routerLinkActive="uk-active"
                        >
                            <nb-icon icon="calendar-outline"></nb-icon>
                            Kalender
                        </a>
                    </li>
                    <li>
                        <a
                            [routerLink]="'inventory'"
                            routerLinkActive="uk-active"
                            ><nb-icon icon="shopping-bag-outline"></nb-icon>
                            Artikel</a
                        >
                    </li>
                </ul>
            </div>

            <div class="bottom">
                <img src="../../assets/logo.svg" />
            </div>
        </div>
    </nb-sidebar>

    <nb-layout-column class="content"
        ><router-outlet></router-outlet
    ></nb-layout-column>
</nb-layout>
