@use "../../variables";

nb-layout {
    nb-sidebar {
        background-color: white;

        div.content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            div {
                &.top {
                    div.user {
                        display: flex;

                        > div.avatar {
                            height: 48px;
                            width: 48px;
                            border-radius: 100%;
                            background-color: #eee;
                            margin-right: 17.5px;
                            display: flex;

                            span {
                                margin: auto;
                                font-size: 17px;
                            }
                        }

                        > div.text {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;

                            > span {
                                &.name {
                                    font-size: 20px;
                                    font-weight: 600;
                                    color: variables.$healthpad-color-text;
                                }

                                &.actions {
                                    font-size: 14px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

                &.middle {
                    > ul {
                        li {
                            &:not(:first-child) {
                                margin-top: 7.5px;
                            }
                            a {
                                font-size: 22px;
                                font-weight: 500;

                                &.uk-active {
                                    color: #6c70d8;

                                    svg {
                                    }
                                }

                                nb-icon {
                                    font-size: 1.7rem;
                                    margin-right: 7.5px;
                                }
                            }
                        }
                    }
                }

                &.bottom {
                    display: flex;
                    img {
                        margin: auto;
                        width: 70%;
                    }
                }
            }
        }
    }

    nb-layout-column {
        height: 100vh;
        overflow-y: auto;
        padding: 45px !important;

        &.content {
            background-color: rgb(247 249 252 / 60%);
        }
    }
}
